<!doctype html>
<html>
<head>
    <!-- <title>Dash.js Rocks</title>
    <style>
        video {
            width: 640px;
            height: 360px;
        }
    </style> -->
</head>
<body>
<div>
    <iframe src="http://192.168.56.132:8080"></iframe>
</div>
<!-- <script src="http://cdn.dashjs.org/latest/dash.all.min.js"></script> -->
<!-- <script>
    (function(){
        var url = "http://192.168.56.102:8071/video/test/index.mpd";
        var player = dashjs.MediaPlayer().create();
        player.initialize(document.querySelector("#videoPlayer"), url, true);
    })();
</script> -->
</body>
</html>